NODE_ENV=staging
API_PORT=4000
API_HOST=0.0.0.0
DATABASE_URL=op://octospark-services/staging/DATABASE_URL
AUTH_SECRET=op://octospark-services/staging/AUTH_SECRET
API_CORS_ORIGIN=op://octospark-services/staging/API_CORS_ORIGIN
API_EXTERNAL_BASE_URL=op://octospark-services/staging/API_EXTERNAL_BASE_URL
TEMPORAL_ADDRESS=op://octospark-services/staging/TEMPORAL_ADDRESS
TEMPORAL_NAMESPACE=op://octospark-services/staging/TEMPORAL_NAMESPACE
TEMPORAL_TASK_QUEUE=op://octospark-services/staging/TEMPORAL_TASK_QUEUE
OTEL_EXPORTER_OTLP_ENDPOINT=op://octospark-services/staging/OTEL_EXPORTER_OTLP_ENDPOINT
