apiVersion: 1

datasources:
  - name: Jaeger
    type: jaeger
    access: proxy
    url: http://jaeger:16686
    uid: jaeger
    isDefault: false
    editable: true
    jsonData:
      tracesToLogs:
        datasourceUid: P8E80F9AEF21F6940
        tags: ['job', 'instance']
        filterByTraceID: true
        customQuery: true
        query: '{service=~"$service"} | json | trace_id="${__span.traceId}"'
      tracesToMetrics:
        datasourceUid: PBFA97CFB590B2093
        tags:
          - key: service.name
            value: job
        queries:
          - name: Request Rate
            query: 'sum(rate(http_requests_total{job=~"$service"}[5m]))'
          - name: Request Duration P95
            query: 'histogram_quantile(0.95, sum(rate(http_request_duration_seconds_bucket{job=~"$service"}[5m])) by (le))'
          - name: Error Rate
            query: 'sum(rate(http_requests_total{job=~"$service",status=~"5.."}[5m]))'
